/* CSS do background e estilo do site */
body {
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Efeito de sombra e textura */
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Leve sobreposição para melhor contraste de texto */
    z-index: -1;
}

/* Estilo do cabeçalho */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

/* Logo do cabeçalho */
.header h1 {
    color: #ff0000;
    margin: 0;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

/* Links de navegação */
.nav-links {
    margin-top: 10px;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ff0000;
}

/* Estilo para as seções */
.section {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    padding: 20px;
    margin: 120px 20px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Estilo para cabeçalhos e títulos */
h2, h3 {
    color: #ff0000;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Estilo para links e botões */
a.button {
    color: #ffffff;
    background-color: #ff0000;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s;
}

a.button:hover {
    background-color: #cc0000;
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.3);
}

/* Estilos para o formulário */
form {
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

form label {
    display: block;
    margin: 10px 0 5px;
    color: #fff;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background-color: #cc0000;
}

/* Rodapé */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.9);
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}

.social-links {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.social-links a {
    color: #ff0000;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #cc0000;
}
